// Mixins in here

///-------------------------------------
/// sizing
///-------------------------------------

.size( @h ; @w )
{
	height: @h;
	width: @w;
}

.min-size( @h ; @w )
{
	min-height: @h;
	min-width: @w;
}

.max-size( @h ; @w )
{
	max-height: @h;
	max-width: @w;
}

.size-100of() { .size( 100% ; 100% ); }
.tb-100of() { height: 100%; }
.lr-100of() { width: 100%; }

///-------------------------------------
/// spacing
///-------------------------------------
/// margin (outs)
///-----------------

.outs-tblr(
  @tblr : auto ;
  @tb : @tblr ;
  @lr : @tblr ;
  @t : @tb ; @b : @tb ;
  @l : @lr ; @r : @lr
) {
  .outs-tb( @t ; @b );
  .outs-lr( @l ; @r );
}

.outs-tb(
  @tb : auto ;
  @t : @tb ; @b : @tb
) {
  margin-top : @t ;
  margin-bottom : @b ;
}

.outs-lr(
  @lr : auto ;
  @l : @lr ; @r : @lr
) {
  margin-left : @l ;
  margin-right : @r ;
}

.outs-tb-auto-lr(
  @tb : 0 ;
  @t: @tb ; @b: @tb
) {
  .outs-tb( @t ; @b );
  .outs-lr();
}

.outs-lr-auto-tb(
  @lr : 0 ;
  @l : @lr ; @r : @lr
) {
  .outs-tb();
  .outs-lr( @l ; @r );
}

.end-outs-tb( @w : 0 ) {
	&:first-child {
		margin-top: @w;
	}
	&:last-child {
		margin-bottom: @w;
	}
}

.end-outs-lr( @w : 0 ) {
	&:first-child {
		margin-left: @w;
	}
	&:last-child {
		margin-right: @w;
	}
}

///-----------------
/// padding (ins)
///-----------------

.ins-tblr(
  @tblr : auto ;
  @tb : @tblr ;
  @lr : @tblr ;
  @t : @tb ; @b : @tb ;
  @l : @lr ; @r : @lr
) {
  .ins-tb( @t ; @b );
  .ins-lr( @l ; @r );
}

.ins-tb(
  @tb : auto ;
  @t : @tb ; @b : @tb
) {
  padding-top : @t ;
  padding-bottom : @b ;
}

.ins-lr(
  @lr : auto ;
  @l : @lr ; @r : @lr
) {
  padding-left : @l ;
  padding-right : @r ;
}

.ins-tb-auto-lr(
  @tb : 0 ;
  @t: @tb ; @b: @tb
) {
  .ins-tb( @t ; @b );
  .ins-lr();
}

.ins-lt-auto-tb(
  @lr : 0 ;
  @l : @lr ; @r : @lr
) {
  .ins-tb();
  .ins-lr( @l ; @r );
}

///-------------------------------------
/// flex box
///-------------------------------------
/// generic
///-----------------

.flex-box(
  @main-axis : row ;
  @wrap-lines : nowrap ;
  @align-lines-along-axis : space-between ;
  @align-lines-across-axis : space-between ;
  @align-items-across-line : stretch
) {
  display : flex ;
  flex-flow : @main-axis @wrap-lines ;
  justify-content : @align-lines-along-axis ;
  align-content : @align-lines-across-axis ;
  align-items : @align-items-across-line ;
}

///-----------------
/// flex spacing
///-----------------

.flex-start-content(
  @main-axis : row ;
  @wrap-lines : nowrap ;
  @align-items-across-line : stretch
) {
  .flex-box( @main-axis ; @wrap-lines ; flex-start ; flex-start ; @align-items-across-line )
}

.center-content(
  @main-axis : row ;
  @wrap-lines : nowrap ;
  @align-items-across-line : stretch
) {
  .flex-box( @main-axis ; @wrap-lines ; center ; center ; @align-items-across-line )
}

.flex-end-content(
  @main-axis : row ;
  @wrap-lines : nowrap ;
  @align-items-across-line : stretch
) {
  .flex-box( @main-axis ; @wrap-lines ; flex-end ; flex-end ; @align-items-across-line )
}

.space-around-content(
  @main-axis : row ;
  @wrap-lines : nowrap ;
  @align-items-across-line : stretch
) {
  .flex-box( @main-axis ; @wrap-lines ; space-around ; space-around ; @align-items-across-line )
}

.space-between-content(
  @main-axis : row ;
  @wrap-lines : nowrap ;
  @align-items-across-line : stretch
) {
  .flex-box( @main-axis ; @wrap-lines ; space-between ; space-between ; @align-items-across-line )
}

.space-evenly-content(
  @main-axis : row ;
  @wrap-lines : nowrap ;
  @align-items-across-line : stretch
) {
  .flex-box( @main-axis ; @wrap-lines ; space-evenly ; space-evenly ; @align-items-across-line )
}

///-------------------------------------