// Mixins in here

@import './mixins-flex-box.less';
@import './mixins-size.less';
@import './mixins-outs.less';
@import './mixins-ins.less';

///-------------------------------------
/// decor
///-------------------------------------

.default-decor(
  @bg-color : none ;
  @fg-color : inherit ;
  @text-decor : none
) {
  background-color : @bg-color ;
  color : @fg-color ;
  text-decoration : @text-decor ;
}

.hover-decor(
  @bg-color : none ;
  @fg-color : inherit ;
  @text-decor : underline
) {
  &:hover {
    background-color : @bg-color ;
    color : @fg-color ;
    text-decoration : @text-decor ;
  }
}

///-------------------------------------
/// buttons
///-------------------------------------

.custom-button( @fg-color ; @bg-color ; @border-color ) {
  
}